---
- name: setup local bin for user
  file:
    path: "{{ lookup('env', 'HOME') }}/bin"
    state: directory

- name: download cht.sh
  get_url:
    url: https://cht.sh/:cht.sh
    dest: "{{ lookup('env', 'HOME') }}/bin/cht.sh"
    mode: a+x

- name: fun
  package:
    name: "{{ item }}"
    state: 'present'
  loop:
    - figlet
    - cowsay
    
- name: misc tools
  package:
    name: "{{ item }}"
    state: 'present'
  loop:
    - dialog
    - pv
    - nc
