---
- name: download cht.sh
  get_url:
    url: https://cht.sh/:cht.sh
    dest: "{{ lookup('env', 'HOME') }}/.local/bin/cht.sh"
    mode: a+x

- name: fun
  package:
    name: "{{ item }}"
    state: 'present'
  loop:
    - figlet
    - cowsay
    
# - name: misc tools
#   package:
#     name: "{{ item }}"
#     state: 'present'
#   loop:
#     - dialog
#     - pv
#     - nc

