---

- name: install bat
  shell: "cargo install bat"

- name: install tokei
  shell: "cargo install tokei --features all"

- name: install pastel
  shell: "cargo install pastel"

- name: install watchexec
  shell: "cargo install watchexec"

- name: install starship
  shell: "cargo install starship"

- name: install broot
  shell: "cargo install broot"

- name: install mdbook
  shell: "cargo install mdbook"

- name: install cargo-edit
  shell: "cargo install cargo-edit"

# - name: install Deno
#   shell: "cargo install deno"

- name: rust analyzer for linux
  get_url:
    url: https://github.com/rust-analyzer/rust-analyzer/releases/latest/download/rust-analyzer-linux
    dest: "{{ lookup('env', 'HOME') }}/.local/bin"
    mode: a+x 
