---
- name: update and upgrade
  package:
    upgrade: yes
    update_cache: yes

- name: build tools
  package:
    name: "{{ item }}"
    state: present
  loop:
    - git
    - curl
    - make
    - wget
    - libssl-dev
    - pkg-config
    - build-essential
    - clang
    - llvm
    - lldb
    - cmake
    - ninja-build
    - dpkg
    - lsb-release
    - software-properties-common # apt-add-repo
    - apt-transport-https 
    - ca-certificates
    - gnupg2
    - gnupg-agent # needed for docker

- name: terminal editors and essentials
  package:
    name: "{{ item }}"
    state: present
  loop:
    - vim
    # do an install and then uninstall of nvim via apt.
    # override after with a later version but keeping /usr/share/nvim/syntax.vim
    # this is to work around the syntax.vim not found issue
    # coc needs nvim 0.4.0 and above
    - neovim 
    - nano
    - tmux # or dvtm
    - fzf
    - grep
    - gawk
    - sed
    - tar
    - ripgrep
    - universal-ctags

- name: utils
  package: 
    name: "{{ item }}"
    state: present
  loop:
    - man
    - bash-completion
    - xclip
    - htop
    - tree
    - zip
    - unzip
    - file
    - cron
    - spell
    - wbritish
    - wamerican

- name: webdev tools
  package: 
    name: "{{ item }}"
    state: present
  loop:
    - httpie
    - jq      
    - fonts-powerline
    - nodejs
    - npm
    # - apache2-utils

- name: backup tooling
  package:
    name: rsync
    state: present

# Tools usually pre-installed on Debian
# - whereis      
# - which
# - ldd
# - diff
# - cat
# - tac      
# - free
