---
- name: setup src dir for go tools
  file:
    path: "{{ lookup('env', 'HOME') }}/go/src"
    state: directory

- name: setup bin dir for go tools
  file:
    path: "{{ lookup('env', 'HOME') }}/go/bin"
    state: directory

- name: install lazygit
  shell: "go get github.com/jesseduffield/lazygit"

- name: install lf
  shell: "env CGO_ENABLED=0 GO111MODULE=on go get -u -ldflags=\"-s -w\" github.com/gokcehan/lf"
  
    
